<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <form class="form new-project-form">
        <div class="form-group">
          <label for="project-name">Project Name:</label>
          <input class="form-control" type="text" id="project-name" name="project-name"
            placeholder="Enter project name" />
        </div>
        <div class="form-group hidden">
          <label for="project-author">Posted By:</label>
          <input class="form-control" type="text" id="project-author" name="project-author" placeholder="Enter author"
            value="{{user_name}}" />
        </div>

        <div class="form-group">
          <label for="project-desc">Description:</label>
          <textarea class="form-control" id="project-desc" name="project-desc" rows="5"
            placeholder="Enter project description"></textarea>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>

    </div>
  </div>
</div>
<div>
  <div class="d-flex justify-content-center">
    <h3 class="heading">My Blogpost</h3>
  </div>

  {{#each blogposts as |blogpost|}}
  <div class="mt-3 container blogpost">
    <div class="d-flex justify-content-around title">
      <h3 id="post-title">{{blogpost.title}}</h3>
      <h3 id="post-creator">{{blogpost.name}}</h3>
    </div>
    <div class="p-4 post-text">
      <p id="description">
        {{blogpost.description}}
      </p>
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn btn-sm btn-danger delete-btn" data-id="{{blogpost.id}}">DELETE</button>
      <button class="btn btn-sm btn-primary update-btn" data-id="{{blogpost.id}}">Update</button>
    </div>
  </div>
  <div>
    <div class="update-form hide container" data-id="{{blogpost.id}}">
      <form class="form update-project-form">
        <input type="hidden" class="update-post-id" value="{{blogpost.id}}" />
        <div class="form-group">
          <label for="update-project-name">Updated Project Name:</label>
          <input class="form-control update-project-name" type="text" id="update-project-name-{{blogpost.id}}"
            name="update-project-name" placeholder="Enter updated project name" />
        </div>
        <div class="form-group">
          <label for="update-project-desc">Updated Description:</label>
          <textarea class="form-control update-project-desc" id="update-project-desc-{{blogpost.id}}"
            name="update-project-desc" rows="5" placeholder="Enter updated project description"></textarea>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>

    {{/each}}


  </div>
  <script src="/js/profile.js"></script>
